<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.empfin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logowhite"
        android:label="to-do"

        android:name=".App"



        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity

            android:name=".screens.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.details.NoteDetailsActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>